.courses{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F5F7;
    padding-top: 40px;
}
.courses-box{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.courses-box-left{
    width: 35%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;
    margin-right: 1rem;
}
.courses-box-right{
    width: 100%;
    display: grid;
  grid-template-columns: auto auto auto;
  margin-top:5rem ;
}

/* //////////////////////////////////////////////////////////// */

@media(max-width:1000px){
    .courses{
        padding-top: 0;
    }
    .courses-box{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .courses-box-left{
        width: 100%;
        margin-top: 5rem;
    }
}