.main-page{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family:sarchia;
    background-color: #F4F5F7;
}
.main-page1{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    
}
.main-page-left{
    width: 50%;
}
.main-page-left h1{
    font-size: 3rem;
    margin: 2rem;
}
.main-page-left p{
    font-size: 1.7rem;
    margin: 2rem;
}
.main-page-left-button{
    position: absolute;
    left: 8rem;
    
}
.main-page-left-button button{
    border: none;
    padding: 10px;
    border-radius: 1rem;
    color: #CF4E1F;
    font-size: 1.3rem;
    margin-left: 1rem;
}
.main-page-left-button button:first-child{
    background-color: #CF4E1F;
    color: white;
}
.main-page-right{
    width: 50%;

}
.main-page-right-svg{
    width: 100%;
    
}
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.main-page1-boxlogo{
    width: 100vw;
    height: 20vh;
    
}
.main-page1-boxlogo-logo{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.main-page1-boxlogo-logo p{
    margin-top: 1.5rem;
}
.main-page1-boxlogo-logo>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    border-radius: 10px;
    text-align: center;
}
.main-page1-boxlogo-logo>div:hover{
    background-color: #fff;
    transition: .1s;
    
}
.main-page1-boxlogo-logo>div>div{
    width: 6rem;
    height: 6rem;
    background-color: #CF4E1F;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2.5rem;
    font-size: 40px;
    color: #fff;
}
/* .main-page1-boxlogo-logo div:hover{
    width: 200px;
    height: 200px;
    background-color: #fff;
} */
/* ///////////////////////////////////// */
.main-page2{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-page2-box{
    width: 90vw;
    height: 70vh;
    border-radius: 2rem;
    background-color: #EAEDF0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.main-page2-box-right{
    width: 30%;
    /* height: 100%; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5rem;
}
.main-page2-box-right h1{
    font-weight: 700;
    color: #ac421c;
}
.main-page2-box-right h4{
    font-weight: 700;
    color: #CF4E1F;
}
.main-page2-box-left{
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    overflow-x:scroll;
    overflow-y: hidden;
    padding-bottom: 3rem;
}
.main-page2-box-left-box{
    width: 100px;
    height: 100px;
    background-color: #CF4E1F;
    margin: 40px;
}
.main-page-menu{
    display: none;
}


/* //////////////////////////////////////////////// */

@media (max-width:1000px){
    .main-page1{
        
        flex-direction: column;
        
    }
    .main-page-left{
        width: 100%;
        text-align: center;
    }
    .main-page-right{
        margin-top:7rem ;
        width: 80%;
    }
    .main-page1-boxlogo-logo{
        display: grid;
        grid-column: auto;
        grid-row:auto;
    }
    .main-page1-boxlogo-logo>div{
        padding: 1rem;
    }
    .main-page1-boxlogo-logo>div>div{
        width: 4rem;
        height: 4rem;
        border-radius: 1rem;
    }


    .main-page2-box{
        flex-direction: column;
        height: 90%;
    }
    .main-page2-box-right{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
        padding-bottom: 1rem;
    }
    .main-page-menu{
        display: block;
        font-size: 2rem;
        position: fixed;
        top: 1rem;
        left: 1rem;
    }
    .main-page2-box-left-box{
        margin: 0;
        width: 90%;
    }
    .main-page2-box-left{
        padding-top: 3rem;
        
    }
}