.header{
    background-color: rgba(112, 112, 112, 0.699);
    display: flex;
    flex-direction:row-reverse;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    padding: 1rem;
    font-family:sarchia;
    backdrop-filter: blur(5px);
    z-index: 10;
}
.header-left>button{
    border: none;
    background-color:#fff ;
    color: #CF4E1F;
    font-size: 1.2rem;
    padding: .5rem;
    border-radius: 30px;
    margin-right: 20px;
    z-index: 2;
}
.header-left-icon{
    font-size: 1.7rem;
}
.header-main a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-size: 1.3rem;
}
.header-main a:hover{
    color:#CF4E1F;
    transition: .3s;
}