.about{
    width: 100vw;
    height: 50vh;
    background-color: #F4F5F7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}
.about-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}